*.jar
*.db
*.csv

bStats/*

Citizens/lib/*
Citizens/templates
Citizens/shops.yml

FastAsyncWorldEdit/clipboard/*
FastAsyncWorldEdit/history/*
FastAsyncWorldEdit/lang/*
FastAsyncWorldEdit/sessions/*

FreedomChat/*

LibsDisguises/SavedSkins/*
LibsDisguises/Translations
LibsDisguises/internal.yml
LibsDisguises/mappings_cache.yml

LuckPerms/libs/*
LuckPerms/translations/*


MythicMobs/data/*
MythicMobs/packs/*
MythicMobs/SavedData/*
MythicMobs/data/*
MythicSkriptAddon/

MythicSkriptAddon-0.99.4/*

PluginMetrics/*

Skript/backups/*
Skript/lang/*

spark/*
update/*

WorldGuard/cache/*
WorldGuard/world/*
WorldGuard/world_nether/*
WorldGuard/world_the_end/*
WorldGuard/heart_strike_the_end/*